input {
  width: 140px;
  height: 40px;
  margin: 0 auto;
  background-color: #444444;
  border: none;
  color: white;
  font-size: 20px;
  transition: all 0.5s ease;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
}

input:hover {
  width: 145px;
  letter-spacing: .5px;
  font-weight: bolder;
  font-size: 23px;
  background-color: white;
  color: #191919;
  transition: all 0.5s ease;
}

.live-button {
  margin-left: 10px;
  float: right;
}

.button-wrap {
  width: 290px;
  margin: 0 auto;
  float: left;
  margin-left: -3px;
}

@media screen and (min-width: 362px) {
  .button-wrap {
    width: 300px;
    margin: 0 auto;
    float: left;
    margin-left: 0;
  }
}



.tower-image {
  width: 250px;
  height: 250px;
}

.tower-front-text {
  margin: 0;
  padding: 0;
  text-shadow: black 2px 2px 2px;
  line-height: 260px;
  transition: all 0.6s ease;
  color: white;
}

.tower-back-text {
  margin: 0;
  margin-top: 0;
  font-size: 30px;
  padding: 0;
  text-shadow: black 2px 2px 2px;
  margin-bottom: 0;
  color: white;
}

.trans {
  position: absolute;
  width: 290px;
  height: 290px;
  border-radius: 50%;
  transition: all 0.6s ease;
  // background-color: rgba(2, 5, 0, .5);
  border: solid white 1px;
  box-shadow: 1px 3px 44px 0px rgba(0,0,0,1);
  background-color: #132839;
}

@media screen and (min-width: 820px) {
  .trans {
    margin-left: 2.5%;
    margin-top: 20px;
  }
}

@media screen and (min-width: 870px) {
  .trans {
    margin-left: 4%;
    margin-top: 20px;
  }
}

@media screen and (min-width: 920px) {
  .trans {
    margin-left: 5%;
    margin-top: 20px;
  }
}

@media screen and (min-width: 970px) {
  .trans {
    margin-left: 6%;
    margin-top: 20px;
  }
}


@media screen and (min-width: 1070px) {
  .trans {
    margin-left: 7%;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1120px) {
  .trans {
    margin-left: 5.5%;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1140px) {
  .trans {
    margin-left: 6%;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1170px) {
  .trans {
    margin-left: 4.5%;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1220px) {
  .trans {
    margin-left: 3.5%;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1270px) {
  .trans {
    margin-left: 1.5%;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1400px) {
  .trans {
    margin-left: 0;
    margin-top: 20px;
  }
}




.trans:hover {
  width: 10px;
  height: 10px;
  transition: all 0.6s ease;
  background-color: white;
}

.card {
  position: relative;
  color: white;
  text-align: center;
  margin-left: 20px;
  height: 250px;
  width: 250px;
  transition: all 0.6s ease;
  transform-style: preserve-3d;
  transform: perspective(700px);
  margin-bottom: 20px;
}

.card:hover {

  .front-text {
    background-color: none;
    transition: all 0.5s ease;
    font-size: 10px;
    color: black;
    margin-top: 80px;
  }
}

.tower-front  {
  // background-color: gray;
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
  backface-visibility: hidden;
  border-radius: 50%;
  transition: all 0.5s ease;
  background-image: url('../assets/images/tower.png');
  background-size: cover;
  margin-top: 18px;
  background-position: 37% 22%;
}

.back {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
  backface-visibility: hidden;
  transition: all 0.5s ease;
  background-size: contain;
  background-position: 37% 22%;
  box-shadow: 1px 3px 44px 0px rgba(0,0,0,1);
  background-repeat: no-repeat;
}

.back {
  transform: rotateY(180deg);
}

.card:hover {
  transform: perspective(700px) rotateY(180deg);
  margin-top: 3.5%;
}
