a {
  color: #191615;
}


.section-one {
  height: 823.5px;
  background-image: url('../assets/images/re.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.transparent-cover {
  height: 823.5px;
  background-size: cover;
  background-attachment: fixed;
  background-color: deeppink;
  opacity: .1;
  z-index: 50;
}


.section-two {
  height: 3325px;
  margin-top: 0;
  background-image: url('../assets/images/pinky.jpg');
  background-size: cover;
  background-attachment: fixed;
}

@media screen and (min-width: 362px) {
  .section-two {
    height: 3260px;
  }
}

@media screen and (min-width: 374px) {
  .section-two {
    height: 3285px;
  }
}

@media screen and (min-width: 820px) {
  .section-two {
    height: 1645px;
  }
}
