
.section-one {
  height: 100vh;
  background-image: url('../assets/images/re.jpg');
  // background-size: cover;
  background-attachment: fixed;
}

.sub-one {
  height: 50vh;
  background-color: #191919;
}

.section-two {
  height: 3208px;
  margin-top: 0;
  background-image: url('http://i.imgur.com/8LuHEif.jpg');
  background-size: cover;
  background-attachment: fixed;
}

@media screen and (min-width: 820px) {
  .section-two {
      height: 1645px;
  }
}

.footer {
  height: 40vh;
  background-color: #191919;
  // background-color: rgba(0, 0, 0, .5);
}
