
.section-one {
  height: 100vh;
  background-image: url('../assets/images/re.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}


.section-two {
  height: 3208px;
  margin-top: 0;
  background-image: url('../assets/images/seashore.jpg');
  background-size: cover;
  background-attachment: fixed;
}

@media screen and (min-width: 820px) {
  .section-two {
      height: 1645px;
  }
}
