.link-text {
  color: white;
  margin-top: -45px;
<<<<<<< HEAD
<<<<<<< HEAD
  text-shadow: center;
  // margin-left: 1px;
=======
  // margin-left: 1px;
=======
>>>>>>> master
  text-align: center;
>>>>>>> master
}

#resume {
  position: relative;
  width: 54px;
  border-width: 50px 18px 0;
  border-style: solid;
  border-color: #444444 transparent;
  float: right;
  transition: all 0.5s ease;
  cursor: pointer;
  margin-top: 55px;
  margin-right: 6.7%;
}

#resume:hover {
  transform: rotateX(360deg);
  transition: all 0.5s ease;
  border-color: transparent silver;
}

#resume:before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  top: -85px;
  left: -18px;
  border-width: 0 45px 35px;
  border-style: solid;
  border-color: transparent transparent silver;
}

// #resume-footer {
//   position: relative;
//   width: 54px;
//   border-width: 50px 18px 0;
//   border-style: solid;
//   border-color: #444444 transparent;
//   float: right;
//   transition: all 0.5s ease;
//   cursor: pointer;
//   margin-top: 37px;
//   margin-right: 20px;
// }

#resume-footer {
  position: absolute;
  width: 54px;
  border-width: 50px 18px 0;
  border-style: solid;
  border-color: #444444 transparent;
  float: right;
  transition: all 0.5s ease;
  cursor: pointer;
  // margin-top: 280px;
  margin-right: 6.7%;
  margin-top: 280px;
}

#resume-footer:hover {
  transform: rotateX(360deg);
  transition: all 0.5s ease;
  border-color: transparent silver;
}

#resume-footer:before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  top: -85px;
  left: -18px;
  border-width: 0 45px 35px;
  border-style: solid;
  border-color: transparent transparent silver;
}


.eye {
  width: 200px;
  height: 200px;
  margin-top: 30px;
  padding: 0;
  line-height: 300px;
  transition: all 0.6s ease;
  color: black;
  font-weight: bolder;
  // position: fixed;
  // z-index: 75;
  // backface-visibility: hidden;
}

.eye:hover {
  width: 5px;
  height: 5px;
  margin-top: 300px;
}




.transparent-left {
  width: 42.4%;
  height: 290px;
  // border-right: solid white 1px;
  border-left: solid white 1px;
  margin-top: 0px;
  float: left;
  margin-left: 4.9%;
  margin-top: 17px;
}

.transparent-right {
  width: 42.4%;
  height: 290px;
  border-right: solid white 1px;
  margin-top: 0px;
  float: left;
  margin-left: 5.1%;
  margin-top: 17px;
}
