<!DOCTYPE html>

<div class="nav">
  <a href="https://docs.google.com/document/d/1WkEVM49cZcDLl_5FNK5jpmzy8vUFRqukCtnSuAtTFWk/edit">
    <div id="resume">
      <p class="link-text">
        Resume
      </p>
    </div>
  </a>

  <div class="nav-two-top">

    <div class="nav-three-top">

    </div>

    <div class="nav-four-top">


    </div>


  </div>
</div>





<div class="section-one">
  <div class="transparent-cover">

  </div>
  <h1 id="opening-statement">
    Responsive Front-end Web Development, HTML5, CSS3, SCSS, JavaScript, AngularJS.
  </h1>
</div>

<!-- <div class="nav-under-section-one"></div> -->

<!-- <div class="nav-two"></div> -->

<div class="sub-one clearfix">
  <!-- <br>
  <br> -->

  <div class="nav-two-top-middle">

    <div class="nav-three-top-middle">

    </div>

    <div class="nav-four-top-middle">

    </div>
  </div>



  <div class="middle-holder">



    <div id="middle-left-box">

      <div id="my-self">

      </div>


        <a href="https://docs.google.com/document/d/1WkEVM49cZcDLl_5FNK5jpmzy8vUFRqukCtnSuAtTFWk/edit">
          <div id="resume-middle">
            <p class="link-text">
              Resume
            </p>
          </div>
        </a>

      <div id="middle-left-bottom">
        <a href="https://www.linkedin.com/in/james-mccray-23122293?trk=nav_responsive_tab_profile_pic">
          <img class="linkedin" src="../assets/images/linkedin.png"  />
        </a>

        <a href="https://github.com/chrisjamesjackmccray">
          <img class="github" src="../assets/images/github.png"  />
        </a>

        <a href="mailto:chrisjamesjackmccray@gmail.com?Subject=Interested%20In%20Hiring" target="_top">
          <img class="email" src="../assets/images/ee.png"  />
        </a>

      </div>

    </div>

    <h1 class="middle-head"> Portfolio </h1>

    <div class="middle-right-box">
      <p class="middle-right-des">

        lorem ipsum ganfars l idnai liam fi istandu lid endlic mu lo fontali ambigilies.
        ri imbadu ims dilo ki diamiklis k infulikos da embisto ugins ink ins legor
        fy inviklist wr qa ibestigkelso imbedo y dias iekle mui suej rg guli ent.

      </p>
    </div>
  </div>
  <br>
  <br>

  <div class="nav-two-bottom-middle">

    <div class="nav-three-bottom-middle">

    </div>

    <div class="nav-four-bottom-middle">

    </div>
  </div>

</div>

<div class="section-two">
  <br>
  <div class="restaurant-rater">
      <br>
      <div class="right-box">
        <p class="restaurant-des">
          Restaurant Rater is an app that allows you to search for local Restaurants in your area.
          Once you've found and Rated your Restaurant,
          Restaurant Rater will display the average for reach Rating option based off all user ratings.
        </p>
        <div class="button-wrap">
          <a href="https://github.com/chrisjamesjackmccray/fast-food-review-">
            <input class="tower-button" type="button" value="View Code">
          </a>

          <a href="https://chrisjamesjackmccray.github.io/fast-food-review-/#/register">
            <input class="live-button" type="button" value="Live Site">
          </a>
        </div>
      </div>
    <div class="holder">
      <div class="trans">
        <div class="card">
          <!-- <a href=""> -->
            <div class="front">
              <img class="eye" src="../assets/images/eye.png">

              <!-- <h1 class="front-text"> Final Project </h1> -->
            </div>
            <div class="back">
              <img class="restaurant-image" src="../assets/images/Fast-Food.png"/>
              <h1 class="back-text"> Restaurant Rater </h1>
            </div>
          <!-- </a> -->
        </div>
      </div>
    </div>

  </div>

  <div class="restaurant-rater">
      <br>
      <div class="right-box">
        <p class="restaurant-des">
          Powell-Peralta is a Responsive Website layout of the Powell-Peralta Skateboard brand.
        </p>
        <div class="button-wrap">
          <a href="https://github.com/chrisjamesjackmccray/08-powell-peralta">
            <input class="tower-button" type="button" value="View Code">
          </a>

          <a href="http://chrisjamesjackmccray.github.io/08-powell-peralta/">
            <input class="live-button" type="button" value="Live Site">
          </a>
        </div>
      </div>
    <div class="holder">
      <div class="trans">
        <div class="card">
          <!-- <a href=""> -->
            <div class="skate-front">
              <img class="eye" src="../assets/images/eye.png">
            </div>
            <div class="back">
              <img class="skate-image" src="../assets/images/skate.png"/>
              <h1 class="back-text"> Powell-Peralta </h1>
            </div>
          <!-- </a> -->
        </div>
      </div>
    </div>
  </div>

  <div class="restaurant-rater">
      <br>
      <div class="right-box">
        <p class="restaurant-des">
          Iron Towers is a game based off the game (Iron Towers) from the app store.
          I made this during a Hackathon event with two other guys. One back-end and the other front-end.
        </p>
        <div class="button-wrap">
          <a href="https://github.com/TIY-LR-HACKATHON-2016/iron-tower">
            <input class="tower-button" type="button" value="View Code">
          </a>

          <a href="http://tiy-lr-hackathon-2016.github.io/iron-tower/client/dist/#/">
            <input class="live-button" type="button" value="Live Site">
          </a>
        </div>

      </div>
    <div class="holder">
      <div class="trans">
        <div class="card">
          <!-- <a href=""> -->
            <div class="tower-front">
              <img class="eye" src="../assets/images/eye.png">
              <!-- <h1 class="front-text"> Hackathon </h1> -->
            </div>
            <div class="back">
              <img class="tower-image" src="../assets/images/tower.png"/>
              <h1 class="tower-back-text"> Iron Towers </h1>
            </div>
          <!-- </a> -->
        </div>
      </div>
    </div>
  </div>

  <div class="restaurant-rater">
      <br>
      <div class="right-box">
        <p class="restaurant-des">
          Restaurant Rater is an app that allows you to search for local Restaurants in your area.
          Once you've found and Rated your Restaurant,
          Restaurant Rater will display the average for reach Rating option based off all user ratings.
        </p>
        <div class="button-wrap">
          <a href="https://github.com/chrisjamesjackmccray/fast-food-review-">
            <input class="tower-button" type="button" value="View Code">
          </a>

          <a href="http://chrisjamesjackmccray.github.io/fast-food-review-/#/register">
            <input class="live-button" type="button" value="Live Site">
          </a>
        </div>

      </div>
    <div class="holder">
      <div class="trans">
        <div class="card">
          <!-- <a href=""> -->
            <div class="front">
              <!-- <h1 class="front-text"></h1> -->
              <img class="eye" src="../assets/images/eye.png">
            </div>
            <div class="back">
              <img class="tower-image" src="../assets/images/Fast-Food.png"/>
              <h1 class="back-text"> Restaurant Rater </h1>
            </div>
          <!-- </a> -->
        </div>
      </div>
    </div>

  </div>

</div>

<!-- <div class="nav-two"></div> -->

<div class="footer">

  <div class="nav-two-top-footer">

    <div class="nav-three-top-footer">

    </div>

    <div class="nav-four-top-footer">

    </div>
  </div>



  <div class="footer-holder">
    <div id="footer-left-box">

      <div id="my-face-footer">

      </div>

      <a href="https://docs.google.com/document/d/1WkEVM49cZcDLl_5FNK5jpmzy8vUFRqukCtnSuAtTFWk/edit">
        <div id="resume-footer">
          <p class="link-text">
            Resume
          </p>
        </div>
      </a>

      <div class="footer-links">
        <a href="https://www.linkedin.com/in/james-mccray-23122293?trk=nav_responsive_tab_profile_pic">
          <img class="linkedin" src="../assets/images/linkedin.png"  />
        </a>

        <a href="https://github.com/chrisjamesjackmccray">
          <img class="github" src="../assets/images/github.png"  />
        </a>

        <a href="mailto:chrisjamesjackmccray@gmail.com?Subject=Interested%20In%20Hiring" target="_top">
          <img class="email" src="../assets/images/ee.png"  />
        </a>



      </div>
    </div>
  </div>
</div>
