<!DOCTYPE html>

<div class="nav">
  <div class="wow zoomIn">
    <a href="https://docs.google.com/document/d/1WkEVM49cZcDLl_5FNK5jpmzy8vUFRqukCtnSuAtTFWk/edit">
      <div id="resume">
        <p class="link-text">
          Resume
        </p>
      </div>
    </a>
  </div>



  <div class="nav-two-top">

    <div class="nav-three-top">

    </div>

    <div class="nav-four-top">


    </div>
  </div>
  <div class="wow zoomIn">
    <div class="name-stuff">
      <h1 class="name"> James McCray </h1>

      <p class="front-dev"> Front-End Web Developer </p>

      <a href="mailto:chrisjamesjackmccray@gmail.com?Subject=Interested%20In%20Hiring" target="_top">
        <p class="my-email"> chrisjamesjackmccray@gmail.com </p>
      </a>
    </div>
  </div>

</div>





<div class="section-one">

  <div class="transparent-cover">


  </div>
  <!-- <div class="wow slideInUp"> -->
    <h1 id="opening-statement">
      Responsive Front-end Web Development, HTML5, CSS3, SCSS, JavaScript, AngularJS.
    </h1>
  <!-- </div> -->

</div>

<!-- <div class="nav-under-section-one"></div> -->

<!-- <div class="nav-two"></div> -->

<div class="sub-one clearfix">
  <!-- <br>
  <br> -->

  <div class="nav-two-top-middle">

    <div class="nav-three-top-middle">

    </div>

    <div class="nav-four-top-middle">

    </div>
  </div>



  <div class="middle-holder">



    <div id="middle-left-box">
      <div class="wow bounceInUp">
        <div id="my-self">

        </div>
      </div>

      <!-- <div class="wow bounceInUp"> -->
        <a href="https://docs.google.com/document/d/1WkEVM49cZcDLl_5FNK5jpmzy8vUFRqukCtnSuAtTFWk/edit">
          <div id="resume-middle">
            <p class="link-text">
              Resume
            </p>
          </div>
        </a>
      <!-- </div> -->
      <!-- <div class="wow pulse"> -->
        <div id="middle-left-bottom">
          <a href="https://www.linkedin.com/in/james-mccray-23122293?trk=nav_responsive_tab_profile_pic">
            <img class="linkedin" src="../app/assets/images/reallinkedin.png"  />
          </a>

          <a href="https://github.com/chrisjamesjackmccray">
            <img class="github" src="../app/assets/images/realgithub.png"  />
          </a>

          <a href="mailto:chrisjamesjackmccray@gmail.com?Subject=Interested%20In%20Hiring" target="_top">
            <img class="email" src="../app/assets/images/realemail.png"  />
          </a>

        </div>
      <!-- </div> -->
    </div>
    <!-- <div class="wow swing"> -->
      <h1 class="middle-head"> Portfolio </h1>
    <!-- </div> -->


    <div class="middle-right-box">
      <div class="wow slideInRight">
        <p class="middle-right-des">

          Hi, my name's James McCray. Before front-end web development
          I worked in Nashville as an Audio-Engineer, and before that as a Live-Theatre Technician.
          As a hobbie, I make experemental electronic music in my spare time.


        </p>
      </div>
    </div>

  </div>
  <br>

  <div class="nav-two-bottom-middle">

    <div class="nav-three-bottom-middle">

    </div>

    <div class="nav-four-bottom-middle">

    </div>
  </div>

</div>

<div class="section-two">
  <br>
  <div class="restaurant-rater">
      <br>
      <!-- <div class="wow slideInRight"> -->
        <div class="right-box">
          <p class="restaurant-des">
            Restaurant-Rater is an app that allows you to search for local restaurants in your area.
            Once you've found and rated your restaurant,
            Restaurant-Rater will display the average for each rating option based off all user ratings.
          </p>
          <div class="button-wrap">
            <a href="https://github.com/chrisjamesjackmccray/fast-food-review-/tree/master/app">
              <input class="tower-button" type="button" value="View Code">
            </a>

            <a href="https://chrisjamesjackmccray.github.io/fast-food-review-/#/register">
              <input class="live-button" type="button" value="Live Site">
            </a>
          </div>
        </div>
      <!-- </div> -->
    <div class="wow fadeInDown">
      <div class="holder">
        <div class="trans">
          <div class="card">
            <!-- <a href=""> -->
              <div class="front">
                <img class="eye" src="../app/assets/images/eye.png">
                <!-- <h1 class="front-text"> Final Project </h1> -->
              </div>

              <div class="back">
                <img class="restaurant-image" src="../app/assets/images/Fast-Food.png"/>
                <h1 class="back-text"> Restaurant-Rater </h1>
              </div>
            <!-- </a> -->
          </div>
        </div>
      </div>
    </div>


  </div>

  <div class="restaurant-rater">
      <br>
      <!-- <div class="wow slideInRight"> -->
        <div class="right-box">
          <p class="restaurant-des">
            Powell-Peralta is a Responsive Website layout of the Powell-Peralta Skateboard brand.
          </p>
          <div class="button-wrap">
            <a href="https://github.com/chrisjamesjackmccray/08-powell-peralta">
              <input class="tower-button" type="button" value="View Code">
            </a>

            <a href="http://chrisjamesjackmccray.github.io/08-powell-peralta/">
              <input class="live-button" type="button" value="Live Site">
            </a>
          </div>
        </div>
      <!-- </div> -->

    <div class="wow fadeInDown">
      <div class="holder">
        <div class="trans">
          <div class="card">
            <!-- <a href=""> -->
              <div class="skate-front">
                <img class="eye" src="../app/assets/images/eye.png">
              </div>
              <div class="back">
                <img class="skate-image" src="../app/assets/images/skate.png"/>
                <h1 class="back-text"> Powell-Peralta </h1>
              </div>
            <!-- </a> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="restaurant-rater">
      <br>
      <!-- <div class="wow slideInRight"> -->
        <div class="right-box">
          <p class="restaurant-des">
            Marvel-Database is a database of Marvel character's, comic book events and description's based off Marvel's API.
          </p>
          <div class="button-wrap">
            <a href="https://github.com/chrisjamesjackmccray/22-marvel-api-redo/tree/master/app">
              <input class="tower-button" type="button" value="View Code">
            </a>


            <a href="http://chrisjamesjackmccray.github.io/22-marvel-api-redo/dist/#/characters/Avengers">
              <input class="live-button" type="button" value="Live Site">
            </a>
          </div>
        <!-- </div> -->
      </div>

    <div class="wow fadeInDown">
      <div class="holder">
        <div class="trans">
          <div class="card">
            <!-- <a href=""> -->
              <div class="marvel-database-front">
                <img class="eye" src="../app/assets/images/eye.png">
                <!-- <h1 class="front-text"> Hackathon </h1> -->
              </div>
              <div class="back">
                <img class="marvel-database-image" src="../app/assets/images/marvel.png"/>
                <h1 class="tower-back-text"> Marvel-Database </h1>
              </div>
            <!-- </a> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="restaurant-rater">
      <br>
      <!-- <div class="wow slideInRight"> -->
        <div class="right-box">
          <p class="restaurant-des">
            Marvel-Team allows the user to search for a hero. Once searched, Marvel-Team displays
            the Character's image, name and description. The user can create a team of 6 Super Heroes
            with options to delete or add new Characters.
          </p>
          <div class="button-wrap">
            <a href="https://github.com/chrisjamesjackmccray/23-marvel-team/tree/master/app">
              <input class="tower-button" type="button" value="View Code">
            </a>

            <a href="http://chrisjamesjackmccray.github.io/23-marvel-team/dist/#/teams/new">
              <input class="live-button" type="button" value="Live Site">
            </a>
          </div>
        </div>
      <!-- </div> -->

    <div class="wow fadeInDown">
      <div class="holder">
        <div class="trans">
          <div class="card">
            <!-- <a href=""> -->
              <div class="marvel-teams-front">
                <!-- <h1 class="front-text"></h1> -->
                <img class="eye" src="../app/assets/images/eye.png">
              </div>
              <div class="back">
                <img class="marvel-teams-image" src="../app/assets/images/marvel-teams.png"/>
                <h1 class="back-text"> Marvel-Team </h1>
              </div>
            <!-- </a> -->
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<!-- <div class="nav-two"></div> -->

<div class="footer">

  <div class="nav-two-top-footer">

    <div class="nav-three-top-footer">

    </div>

    <div class="nav-four-top-footer">

    </div>
  </div>



  <div class="footer-holder">

    <!-- <img class="sig" src="../app/assets/images/jamessig.png"/> -->

    <!-- <div class="sig"></div> -->

    <div id="footer-left-box">
      <div class="wow slideInLeft">
        <div id="my-face-footer">

        </div>
      </div>
      <!-- <div class="wow bounce"> -->
        <a href="https://docs.google.com/document/d/1WkEVM49cZcDLl_5FNK5jpmzy8vUFRqukCtnSuAtTFWk/edit">
          <div id="resume-footer">
            <p class="link-text">
              Resume
            </p>
          </div>
        </a>
      <!-- </div> -->
      <!-- <div class="wow pulse"> -->
        <div class="footer-links">
          <a href="https://www.linkedin.com/in/james-mccray-23122293?trk=nav_responsive_tab_profile_pic">
            <img class="linkedin" src="../app/assets/images/reallinkedin.png"  />
          </a>

          <a href="https://github.com/chrisjamesjackmccray">
            <img class="github" src="../app/assets/images/realgithub.png"  />
          </a>

          <a href="mailto:chrisjamesjackmccray@gmail.com?Subject=Interested%20In%20Hiring" target="_top">
            <img class="email" src="../app/assets/images/realemail.png"  />
          </a>

        </div>

      <!-- </div> -->
    </div>
  </div>
</div>
