<!DOCTYPE html>


<div class="nav">

</div>

<div class="section-one">

</div>

<div class="sub-one">

</div>

<div class="section-two">
  <br>
  <div class="restaurant-rater">
      <br>
      <div class="right-box">
        <p class="restaurant-des">
          Restaurant Rater is an app that allows you to search for local Restaurants in your area.
          Once you've found and Rated your Restaurant,
          Restaurant Rater will display the average for reach Rating option based off all user ratings.
        </p>

      </div>
    <div class="holder">
      <div class="trans">
        <div class="card">
          <a href="http://chrisjamesjackmccray.github.io/fast-food-review-/#/register">
            <div class="front">
              <h1 class="front-text"> Final Project </h1>
            </div>
            <div class="back">
              <img src="../assets/images/Fast-Food.png"/>
              <h1 class="back-text"> Restaurant Rater </h1>
            </div>
          </a>
        </div>
      </div>
    </div>

  </div>

</div>

<div class="footer">

</div>
